// Resets CSS So The Below Works
.categories-nav{font-size:1.6rem;background-color:$dark-blue;color:#fff}.categories-nav ul{list-style:none;padding:10px 10px 0;display:flex;flex-wrap:wrap;justify-content:center}.categories-nav li{color:$light-blue;text-decoration:none;max-width:145px;padding:10px;border:1px solid $light-blue;border-radius:10px;margin-bottom:10px;flex-grow:1;display:flex;justify-content:space-between;min-width:40%}.categories-nav li:nth-child(odd){margin-right:5px}.categories-nav li:nth-child(even){margin-left:5px}.categories-nav li:focus,.categories-nav li:hover{color:#fff;background-color:$light-blue}.categories-nav li::after{content:"\003e"}.categories-nav a{color:#fff;text-decoration:none}

.categories-nav {
	font-size: 1.8rem;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

	.categories-nav ul {
		background-color: $dark-blue;
		padding: 10px 0 10px 25px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		justify-content: flex-start;
	}

	.categories-nav li {
		padding: 10px 20px;
		color: inherit;
		border-radius: initial;
		max-width: initial;
		min-width: initial;
		border: none;
		flex-grow: initial;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		/* Transition */
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		-ms-transition: all .1s linear;
		-o-transition: all .1s linear;
		transition: all .1s linear;
	}

		.categories-nav li:hover {
			background-color: $light-blue;
			/* Transition */
			-webkit-transition: all .25s linear;
			-moz-transition: all .25s linear;
			-ms-transition: all .25s linear;
			-o-transition: all .25s linear;
			transition: all .25s linear;
		}

		.categories-nav li:nth-child(odd),
		.categories-nav li:nth-child(even) {
			margin: 0;
		}

		.categories-nav li::after {
			content: "";
		}