.sidebar,
#cartItems {
	font-size: 1.6rem;
}

.sidebar {
	width: calc(1/3 * 100% - 10px);
	border: solid 2px $orange;
	padding: .5em;
	border-radius: 10px;
}

	.sidebar h2 {
		// Resetting General H2 Stying
		background-color: initial;
		color: initial;
		padding: initial;
		margin: initial;
		border-radius: initial;
		// Actual Styling
		text-align: center;
		padding-bottom: .5em;
	}

	.sidebar .itemDetails,
	.sidebar #total {
		display: flex;
		justify-content: space-between;
	}

	.sidebar .itemDetails {
		border-top: 1px solid rgba(89, 89, 89, .5);
	}

		.sidebar #total {
			border-bottom: 1px solid rgba(89, 89, 89, 1);
			border-top: 1px solid rgba(89, 89, 89, 1);
			font-weight: bold;
		}

		.sidebar .itemDetails > *,
		.sidebar #total > * {
			display: inline-block;
			align-self: center;
		}

	.sidebar form p {
		display: flex;
		justify-content: center;
	}

	#cartItems input[type="submit"],
	.sidebar input[type="submit"] {
		font-size: 1.6rem;
		padding: 1em;
		border-radius: 10px;
		border: none;
		color: white;
		flex-grow: 1;
		margin: 0 .5rem;
	}

#cartItems {
	width: calc(2/3 * 100% - 10px)
}

	#cartItems .cartItem {
		padding: .5em;
		margin-bottom: 1em;
		border-radius: 10px;
		border: 2px solid $light-blue;
		display: flex;
		justify-content: space-between;
	}

	#cartItems .img-container {
		width: 140px;
		max-width: 140px;
		min-width: 140px;
		height: 140px;
		max-height: 140px;
		min-width: 140px;
		margin-right: 1em;
		display: flex;
		align-items: center;
	}

		#cartItems .img-container img {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}

	.cartItem .column {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

		.cartItem .qty input[type="number"] {
			margin-left: .45em;
			width: 4.5em;
			padding: .2em;
			text-indent: 5px;
			border-radius: 10px;
			border: solid 1px $gray;
		}

	.cartItem p {
		margin: 1em 0 0;
		vertical-align: top;
	}

		.cartItem .removeForm {
			display: flex;
			align-items: center;
		}

		.cartItem form p {
			margin: 0;
		}