///////////////////// 
// CHRISTMAS THEME //
/////////////////////
$light-blue: lime;
$med-blue: #FFD700;
$dark-blue: red;
$gray: #595959;
$orange: blue;

html {
	background-image: url("../imgs/wallpaper.jpg");
}