////////////
// Normal //
////////////
$light-blue: #00ACED;
$med-blue: #006989;
$dark-blue: #002936;
$gray: #595959;
$orange: #FF690C;

/////////////////////////
// Alternate Theme One // (Dark Blue)
/////////////////////////
// $light-blue: #006989;
// $med-blue: #00ACED;
// $dark-blue: #FF690C;
// $gray: #595959;
// $orange: #002936;

/////////////////////////
// Alternate Theme Two // (Medium Blue)
/////////////////////////
// $light-blue: #002936;
// $med-blue: #FF690C;
// $dark-blue: #00ACED;
// $gray: #595959;
// $orange: #006989;


///////////////////////////
// Alternate Theme Three // (Light Blue)
///////////////////////////
// $light-blue: #FF690C;
// $med-blue: #002936;
// $dark-blue: #006989;
// $gray: #595959;
// $orange: #00ACED;

///////////////////// 
// CHRISTMAS THEME //
/////////////////////
// $light-blue: green;
// $med-blue: gold;
// $dark-blue: red;
// $gray: #595959;
// $orange: blue;

// html {
// 	background-image: url("../imgs/wallpaper.jpg");
// }